.container {

    width: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 400px auto;
    
    .form_report {

        .card {

            height: 100vh;
        }
    }
}