<div class="box">
    <div *ngIf="status" class="nav-bar-show" (mouseleave)=changeStatus()>
        <a routerLink="/home" routerLinkActive="active"><button [ngClass]="{'btn-primary' : activeRouter =='home'}" class="btn noShadow" >Home</button></a>
        <a routerLink="/report"routerLinkActive="active"><button [ngClass]="{'btn-primary' : activeRouter =='report'}" class="btn noShadow" >Report</button></a>
    </div>
    <div *ngIf="!status" class="nav-bar-hidden" (mouseenter)=changeStatus()>
        <svg width="25" height="100vh" class="nav-bar-button">
            <rect x = "0" y = "0" width="25" rx="5" ry="5" height="5" style="fill:#212529"></rect>
            <rect x = "0" y = "10" width="25" rx="5" ry="5" height="5" style="fill:#212529"></rect>
            <rect x = "0" y = "20" width="25" rx="5" ry="5" height="5" style="fill:#212529"></rect>
        </svg>
    </div>
    
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>